<div style = "display: flex; ">
    <mat-card style = "max-width: 100px;background: rgb(224, 224, 235); margin: 10px auto ;">
        <mat-card-content>
            <h2>Player 1</h2>
            <span>X</span>
            <span>Wins:</span>
        </mat-card-content>
    </mat-card>
    <mat-card style = "max-width: 100px;background: rgb(224, 224, 235); margin: 10px auto;">
        <mat-card-content>
            <h2>Player 2</h2>
            <span>O</span>
            <span>Wins:</span>
        </mat-card-content>
    </mat-card>
    
</div>
